extends particulars/layout.pug
block stylesheetFiles
    link(href='libs/cropper/cropper.min.css', rel='stylesheet')
    link(href="libs/footable/footable.core.css" rel="stylesheet")
    link(href='css/sys_001.css', rel='stylesheet')
block pagecontent
    .row
      .col-sm-4
        .panel.panel-primary
          .panel-heading Details
          .panel-body
            form.form-horizontal(role='form')
              if lstErrors != null
                  each item in lstErrors
                    <div class="alert alert-danger">#{item.msg}</div>
              .form-group
                label.col-sm-3.control-label Name
                .col-sm-9
                  input.form-control(type='text', name='txtUsrNm',autocomplete='off')
              .form-group
                label.col-sm-3.control-label Email
                .col-sm-9
                  input.form-control(type='email', name='txtEmail',autocomplete='off', value='@gmail.com')
              .form-group
                label.col-sm-3.control-label Password
                .col-sm-9
                  input.form-control(type='password', name='txtPsw',autocomplete='off')
              .form-group
                label.col-sm-3.control-label Des
                .col-sm-9
                  textarea.form-control(name='txtDes',rows='3',autocomplete='off',style='overflow:auto;resize:none')
              .form-group
                label.col-sm-3.control-label Hình
                .col-md-9
                  img#imgPath.img-thumbnail(alt='image', src='/img/avatar.png', style='max-width: 140px;height: 140px;')
                  a.btn.btn-xs.btn-dark(data-toggle='modal', data-target='#editProductImage', style='margin-left:10px')  Edit 
              .form-group
                label.col-sm-3
                .col-sm-9
                  //button.btn.btn-sm.btn-info(onclick='btnNew()')
                  //  strong New
                  button.btn.btn-success(onclick='onClickBtnSave()',type='button',id='btnSave')
                    strong Save
                  button.btn.btn-warning(onclick='onClickBtnCancelUpdate()',type='button', style='margin-left: 3px;visibility: hidden;',id='btnCancel')
                    strong Cancel
      .col-sm-8
        .panel.panel-primary
          .panel-heading Users List
          .panel-body         
            input#filter.form-control.input-sm.m-b-xs(type='text', placeholder='Search in table')
            table.footable.table.table-hover#table-user(data-page-size="5" ,data-filter='#filter')
              thead
                tr
                  th(data-sort-ignore='true') #
                  th(data-sort-ignore='true') Name
                  th(data-sort-ignore='true') Email
                  th(data-sort-ignore='true') Des
                  th(data-sort-ignore='true') Img
                  th(data-sort-ignore='true') Action
              if users != null
                each user in users
                    tbody
                      tr(id= 'local' + user.usrEml)
                        td.wrapword.tbl-content-col.count 
                        td.wrapword.tbl-content-col(title=user.usrNm) #{user.usrNm}
                        td.wrapword.tbl-content-col(title=user.usrEml) #{user.usrEml}
                        td.wrapword.tbl-content-col(title=user.usrDes) #{user.usrDes}
                        td.wrapword.tbl-content-col
                          img(alt='image', src=user.usrImg, style='width: 50px;height: 50px;') 
                        td.wrapword(att-name= user.usrNm, att-email= user.usrEml, att-des=user.usrDes, att-img=user.usrImg)
                            button.btn.btn-primary(type='button', onclick='btnEdit(this)')
                              i.fa.fa-pencil
                            button.btn.btn-danger(type='button', onclick='btnDelete(this)',style='margin-left: 3px;')
                              i.fa.fa-times
              tfoot
                tr
                  td(colspan='5')
                    ul.pagination.pull-right

    #editProductImage.modal.fade
      .modal-dialog.modal-lg
        .modal-content
          .modal-body
            .row
              .col-lg-12
                .ibox.float-e-margins
                  .ibox-content
                    .row
                      .col-md-6
                        .image-crop
                          img(src='/img/fav.ico')
                      .col-md-6
                        h4 Preview image
                        .img-preview.img-preview-sm
                        h4 Comon method
                        .btn-group
                          label.btn.btn-success(title='Upload image file', for='inputImage')
                            input#inputImage.hide(type='file', accept='image/x-png,image/jpeg', name='file')
                            |                                                 Upload new image
                        .btn-group
                          button#zoomIn.btn.btn-white(type='button') Zoom In
                          button#zoomOut.btn.btn-white(type='button') Zoom Out
                          button#rotateLeft.btn.btn-white(type='button') Rotate Left
                          button#rotateRight.btn.btn-white(type='button') Rotate Right
          .modal-footer
            button.btn.btn-success(type='button', onclick='btnOkImage()') Ok
            button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
    // ProcessBar
    #_spinkit-processBar.spinner(style='display:none;')
      .rect1
      .rect2
      .rect3
      .rect4
      .rect5
     
block ScriptFiles
    script(src='libs/cropper/cropper.min.js')
    script(src='libs/footable/footable.all.min.js')
    script(src='libs/blockUI/jquery.blockUI.js')
    
    script(src='js/sys_001.js')
